/*
Here additional css for the body, anchor and others are added to the script.
*/
body {
	color: '#161616';
}
a {
	color: '#161616';
}
.visually-hidden {
	display: 'none';
}
.card-category {
	color: '#D73953';
}
.section-tagline {
	color: '#D73953';
}
